# Admin variables
admin_variables=
{
    admin_credentials="admin:admin";
    mysql_ifaces="0.0.0.0:6032";
    refresh_interval=2000;
}

# MySQL Query Rules
mysql_query_rules=
(
    {
        rule_id=1;
        active=1;
        match_pattern="^SELECT.*|UPDATE.*|^INSERT.*|^DELETE.*|^REPLACE.*";
        destination_hostgroup=20;
        apply=1;
    },
    {
        rule_id=2;
        active=1;
        match_pattern="^SELECT.*|UPDATE.*|^INSERT.*|^DELETE.*|^REPLACE.*";
        destination_hostgroup=10;
        apply=1;
    }
)

mysql_variables=
{
    monitor_username="proxy_monitor"
    monitor_password="YOUR_PASSWORD"
}

# MySQL users
mysql_users =
(
    { username="super_usr", password="YOUR_PASSWORD", default_hostgroup=10, max_connections=1000 },
)

# MySQL Servers
mysql_servers=
(
    {
        address="mysql-master";
        port=3306;
        hostgroup=10;
        max_connections=1000;
        use_ssl=false;
    },
    {
        address="mysql-master2";
        port=3306;
        hostgroup=20;
        max_connections=1000;
        use_ssl=false;
    }
)