[mysqld]

# These configs are mandatory, Don't change them.
default_authentication_plugin = mysql_native_password
server-id         = 1
bind-address      = 0.0.0.0
sql-mode          = 
binlog-format     = mixed
log-bin           = mysql-bin
log_bin_trust_function_creators = 1
relay_log         = mysql-relay-bin
gtid_strict_mode  = 1
read_only         = 1

# You can add other configs below
character-set-server    = utf8mb4
collation-server        = utf8mb4_general_ci
max_connections         = 1000
max_allowed_packet      = 500M
innodb_buffer_pool_size = 2G
wait_timeout            = 600
interactive_timeout     = 600
net_read_timeout        = 600
net_write_timeout       = 600